.profile__edit-button {
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-image: url(../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 10px 10px;
    align-self: center;
    cursor: pointer;
    background-color: #000;
}

@media (max-width: 900px) {
    .profile__edit-button {
    height: 18px;
    width: 18px;
    background-size: 7.5px 7.5px;
    }
}