.popup__close-btn {
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    padding: 0;
}

.popup__close-btn:before {
    position: absolute;
    content: '';
    height: 32px;
    border: 2px solid #fff;
    background-color: #fff;
    top: 0;
    transform: rotate(45deg);
}

.popup__close-btn:after {
    position: absolute;
    content: '';
    height: 32px;
    border: 2px solid #fff;
    background-color: #fff;
    top: 0;
    transform: rotate(-45deg);
}

@media (max-width: 320px) {
    .popup__close-btn {
        width: 20px;
        height: 20px;
        right: 0;
        top: -36px;
    }

    .popup__close-btn:before {
        height: 20px;
        border: 1px solid #fff;
    }

    .popup__close-btn:after {
        height: 20px;
        border: 1px solid #fff;; 
    }
}